<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.GraphMapper">
	<!-- insert, update, delete, select -->
	

	<!-- 공공데이터 목록 가져오기 -->
	<select id="getGraphList" resultType="GraphDTO">
		SELECT
		    *
		FROM
		    (
		    SELECT
		        ROWNUM RNUM,
		        GRAPH_SEQ,
		        USER_SEQ,
		        GRAPH_TITLE,
		        GRAPH_CONTENT,
		        GRAPH_HASHTAG,
		        REG_DATE,
		        GRAPH_TYPE,
		        RESULT_CATE,
		        RESULT_X,
		        JSON_FILE_NAME
		    FROM
		        GRAPH
		    ORDER BY
		        GRAPH_SEQ DESC
		    ) A
		WHERE
		    RNUM BETWEEN 1 AND 10
	</select>
	
	
	<!-- 공공데이터 목록 가져오기 -->
	<select id="getPublicData" resultType="PublicDataDTO">
		SELECT 
			*
		FROM(
			  SELECT
					ROW_NUMBER() OVER(ORDER BY UPDATE_DATE DESC) AS RN,
					PDATA_SEQ,
					PDATA_NAME,
					PDATA_KEYWORD,
					PDATA_CATE,
					REG_USER_SEQ,
					REG_DATE,
					UPDATE_USER_SEQ,
					UPDATE_DATE,
					FILE_NAME
				FROM
					PUBLIC_DATA
		    )
		WHERE
			<![CDATA[ROWNUM <= 8 ]]>
	</select>
	
	<!-- 공공데이터 1개 가져오기 -->
	<select id="getOnePublicData" parameterType="string" resultType="PublicDataDTO">
		SELECT 
			PDATA_SEQ,
			PDATA_NAME,
			PDATA_KEYWORD,
			PDATA_CATE,
			REG_USER_SEQ,
			REG_DATE,
			UPDATE_USER_SEQ,
			UPDATE_DATE,
			FILE_NAME
		FROM
			PUBLIC_DATA
		WHERE 
			PDATA_SEQ = #{pdata_seq}
	</select>
	
	<!-- 그래프 게시글 쓰기/저장 -->
	<insert id="insertGraph" parameterType="GraphDTO" >
		INSERT INTO
			GRAPH (
				GRAPH_SEQ
				,USER_SEQ
				,GRAPH_TITLE
				,GRAPH_CONTENT
				,GRAPH_HASHTAG
				,REG_DATE
				,EXP_YN
				,GRAPH_TYPE
				,RESULT_CATE
				,RESULT_X
				,JSON_FILE_NAME
			)
			
			 
		VALUES (
			GRAPH_SEQ.NEXTVAL
			,#{user_seq}
			,#{graph_title}
			,#{graph_content}
			,#{graph_hashtag}
			,SYSDATE
			,1
			,#{graph_type}
			,#{result_cate}
			,#{result_x}
			,#{json_file_name}
		)
		
	</insert>
		
</mapper>
